/dts-v1/;
/*
 * Copyright (c) 2019-2021, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

#include "ipq6018.dtsi"
#include "ipq6018-cpr-regulator.dtsi"
#include <dt-bindings/input/input.h>

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "YunCore AX840";
	compatible = "yuncore,ax840", "qcom,ipq6018-cp03", "qcom,ipq6018";
	interrupt-parent = <&intc>;
	qcom,msm-id = <0x1A5 0x0>;

	aliases {
		ethernet0 = &dp5;
		ethernet1 = &dp4;
		serial0 = &blsp1_uart3;
		led-boot = &led_system;
		led-failsafe = &led_system;
		led-running = &led_system;
		led-upgrade = &led_system;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs-append = " root=/dev/ubiblock0_1 earlycon debug iomem=relaxed";
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&tlmm 19 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_system: led_system {
			label = "system";
			color = "red";
			gpios = <&tlmm 32 GPIO_ACTIVE_HIGH>;
		};

		led_wlan2g {
			label = "wlan2g";
			color = "green";
			gpios = <&tlmm 37 GPIO_ACTIVE_HIGH>;
		};

		led_wlan5g {
			label = "wlan5g";
			color = "blue";
			gpios = <&tlmm 35 GPIO_ACTIVE_HIGH>;
		};
	};
};

&tlmm {
	uart_pins: uart_pins {
		mux {
			pins = "gpio44", "gpio45";
			function = "blsp2_uart";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	spi_0_pins: spi_0_pins {
		mux {
			pins = "gpio38", "gpio39", "gpio40", "gpio41";
			function = "blsp0_spi";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	button_pins: button_pins {
		wps_button {
			pins = "gpio9";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	mdio_pins: mdio_pinmux {
		mux_0 {
			pins = "gpio64";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};
		mux_1 {
			pins = "gpio65";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
		mux_2 {
			pins = "gpio75";
			function = "gpio";
			bias-pull-up;
		};
	};

	leds_pins: leds_pins {
		led_blue {
			pins = "gpio35";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};

		led_green {
			pins = "gpio37";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};

		led_red {
			pins = "gpio32";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	button_pins: button_pins {
		rst_button {
			pins = "gpio19";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};
};

&soc {
	mdio@90000 {
		pinctrl-0 = <&mdio_pins>;
		pinctrl-names = "default";
		phy-reset-gpio = <&tlmm 75 0>;
		status = "ok";
		phy0: ethernet-phy@0 {
			reg = <3>;
		};
		phy1: ethernet-phy@1 {
			reg = <4>;
		};
	};

	ess-switch@3a000000 {
		switch_cpu_bmp =   <0x01>; /* cpu port bitmap */
		switch_lan_bmp =   <0x10>; /* lan port bitmap */
		switch_wan_bmp =   <0x20>; /* wan port bitmap */
		switch_inner_bmp = <0x80>; /*inner port bitmap*/
		switch_mac_mode =  <0x00>; /* mac mode for uniphy instance0*/
		switch_mac_mode1 = <0xff>; /* mac mode for uniphy instance1*/
		switch_mac_mode2 = <0xff>; /* mac mode for uniphy instance2*/

		qcom,port_phyinfo {
			port@3 {
				port_id = <0x04>;
				phy_address = <0x03>;
			};

			port@4 {
				port_id = <0x05>;
				phy_address = <0x04>;
			};
		};
	};
	
	/delete-node/ dp1;
	/delete-node/ dp2;

	dp4: dp4 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <0x04>;
		reg = <0x3a001600 0x200>;
		qcom,mactype = <0x00>;
		local-mac-address = [00 00 00 00 00 00];
		qcom,link-poll = <0x01>;
		qcom,phy-mdio-addr = <0x03>;
		phy-mode = "sgmii";
		label = "lan";
		status = "ok";
	};

	dp5: dp5 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <0x05>;
		reg = <0x3a001800 0x200>;
		qcom,mactype = <0x00>;
		local-mac-address = [00 00 00 00 00 00];
		qcom,link-poll = <0x01>;
		qcom,phy-mdio-addr = <0x04>;
		phy-mode = "sgmii";
		label = "wan";
		status = "ok";
	};
};

&blsp1_uart3 {
	pinctrl-0 = <&uart_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&spi_0 {
	status = "okay";
	
	partitions {
		status = "disabled";
	};

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";


			partition@0 {
				reg = <0x00 0xc0000>;
				label = "0:sbl1";
			};

			partition@c0000 {
				reg = <0xc0000 0x10000>;
				label = "0:mibib";
			};

			partition@d0000 {
				reg = <0xd0000 0x20000>;
				label = "0:bootconfig";
			};

			partition@f0000 {
				reg = <0xf0000 0x20000>;
				label = "0:bootconfig1";
			};

			partition@110000 {
				reg = <0x110000 0x1a0000>;
				label = "0:qsee";
			};

			partition@2b0000 {
				reg = <0x2b0000 0x1a0000>;
				label = "0:qsee_1";
			};

			partition@450000 {
				reg = <0x450000 0x10000>;
				label = "0:devcfg";
			};

			partition@460000 {
				reg = <0x460000 0x10000>;
				label = "0:devcfg_1";
			};

			partition@470000 {
				reg = <0x470000 0x40000>;
				label = "0:rpm";
			};

			partition@4b0000 {
				reg = <0x4b0000 0x40000>;
				label = "0:rpm_1";
			};

			partition@4f0000 {
				reg = <0x4f0000 0x10000>;
				label = "0:cdt";
			};

			partition@500000 {
				reg = <0x500000 0x10000>;
				label = "0:cdt_1";
			};

			partition@510000 {
				reg = <0x510000 0x10000>;
				label = "0:appsblenv";
			};

			partition@520000 {
				reg = <0x520000 0xa0000>;
				label = "0:appsbl";
			};

			partition@5c0000 {
				reg = <0x5c0000 0xa0000>;
				label = "0:appsbl_1";
			};

			partition@660000 {
				reg = <0x660000 0x40000>;
				label = "0:art";
			};

		};
	};
};

&qpic_bam {
	status = "ok";
};

&qpic_nand {
	status = "okay";
	partitions {
		status = "disabled";
	};

	nand@0 {
		reg = <0>;

		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;
		nand-bus-width = <8>;
	

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "rootfs";
				reg = <0x0 0x3c00000>;
			};
			partition@3c00000 {
				label = "rootfs_1";
				reg = <0x3c00000 0x3c00000>;
			};
		};
	};
};

&ssphy_0 {
	status = "ok";
};

&qusb_phy_0 {
	status = "ok";
};

&usb3 {
	status = "ok";
};

&nss_crypto {
	status = "ok";
};
