/dts-v1/;

#include "ipq5018.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/input/input.h>

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "noname sw8-clone";
	compatible = "noname,sw8-clone", "qcom,ipq5018-mp03.5", "qcom,ipq5018";
	interrupt-parent = <&intc>;

	aliases {
		sdhc1 = &sdhc_1; /* SDC1 eMMC slot */
		serial0 = &blsp1_uart1;
		serial1 = &blsp1_uart2;
		ethernet0 = "/soc/dp1";
		ethernet1 = "/soc/dp2";

		led-boot = &led_system;
		led-failsafe = &led_system;
		led-running = &led_system;
		led-upgrade = &led_system;
	};

	chosen {
		bootargs = "console=ttyMSM0,115200,n8 rw init=/init";
		bootargs-append = " root=/dev/ubiblock0_1 swiotlb=1 coherent_pool=2M";
		stdout-path = "serial0";
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&tlmm 28 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	leds {
		compatible = "gpio-leds";

		system {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
			gpios = <&tlmm 31 GPIO_ACTIVE_HIGH>;
		};

		wlan2g {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_WLAN;
			gpios = <&tlmm 32 GPIO_ACTIVE_HIGH>;
		};

		wlan5g {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_WLAN;
			gpios = <&tlmm 33 GPIO_ACTIVE_HIGH>;
		};
		
		bt {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_BLUETOOTH;
			gpios = <&tlmm 27 GPIO_ACTIVE_HIGH>;
		};
	};

	reserved-memory {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;

		bt_region: bt@7000000 {
			no-map;
			reg = <0x00 0x7000000 0x00 0x58000>;
		};

		m3_dump: m3_dump@4D200000 {
			no-map;
			reg = <0x00 0x4d200000 0x00 0x100000>;
		};

		m3_dump_qcn6122_1: m3_dump_qcn6122_1@4E600000 {
			no-map;
			reg = <0x00 0x4e600000 0x00 0x100000>;
		};

		m3_dump_qcn6122_2: m3_dump_qcn6122_2@4FD00000 {
			no-map;
			reg = <0x00 0x4fd00000 0x00 0x100000>;
		};

		nss: nss@40000000 {
			no-map;
			reg = <0x00 0x40000000 0x00 0x1000000>;
		};

		q6_caldb_region: q6_caldb_region@4D400000 {
			no-map;
			reg = <0x00 0x4d400000 0x00 0x200000>;
		};

		q6_code_data: q6_code_data@4B000000 {
			no-map;
			reg = <0x00 0x4b000000 0x00 0x60000>;
		};

		q6_etr_region: q6_etr_dump@4D300000 {
			no-map;
			reg = <0x00 0x4d300000 0x00 0x100000>;
		};

		q6_ipq5018_data: q6_ipq5018_data@4C400000 {
			no-map;
			reg = <0x00 0x4c400000 0x00 0xe00000>;
		};

		q6_mem_regions: q6_mem_regions@4B000000 {
			no-map;
			reg = <0x00 0x4b000000 0x00 0x5400000>;
		};

		q6_qcn6122_caldb_1: q6_qcn6122_caldb_1@4E800000 {
			no-map;
			reg = <0x00 0x4e800000 0x00 0x500000>;
		};

		q6_qcn6122_caldb_2: q6_qcn6122_caldb_2@4FF00000 {
			no-map;
			reg = <0x00 0x4ff00000 0x00 0x500000>;
		};

		q6_qcn6122_data1: q6_qcn6122_data1@4D600000 {
			no-map;
			reg = <0x00 0x4d600000 0x00 0x1000000>;
		};

		q6_qcn6122_data2: q6_qcn6122_data2@4E900000 {
			no-map;
			reg = <0x00 0x4ed00000 0x00 0x1000000>;
		};

		q6_qcn6122_etr_1: q6_qcn6122_etr_1@4E700000 {
			no-map;
			reg = <0x00 0x4e700000 0x00 0x100000>;
		};

		q6_qcn6122_etr_2: q6_qcn6122_etr_2@4FE00000 {
			no-map;
			reg = <0x00 0x4fe00000 0x00 0x100000>;
		};

		sbl@4aa00000 {
			no-map;
			reg = <0x00 0x4aa00000 0x00 0x100000>;
		};

		smem_region: smem@4ab00000 {
			no-map;
			reg = <0x00 0x4ab00000 0x00 0x100000>;
		};

		tz@4ac00000 {
			no-map;
			reg = <0x00 0x4ac00000 0x00 0x400000>;
		};

		tzapp: tzapp@4a400000 {
			no-map;
		};

		uboot@4a800000 {
			no-map;
			reg = <0x00 0x4a800000 0x00 0x200000>;
		};
	};

	qcom,test@0 {
		status = "ok";
	};

	thermal-zones {
		status = "ok";
	};
};


&soc {
	serial@78af000 {
		status = "ok";
	};

	qpic_bam: dma@7984000{
		status = "ok";
	};

	nand: qpic-nand@79b0000 {
		pinctrl-0 = <&qspi_nand_pins>;
		pinctrl-names = "default";
		status = "ok";
	};

	spi_0: spi@78b5000 { /* BLSP1 QUP0 */
		pinctrl-0 = <&blsp0_spi_pins>;
		pinctrl-names = "default";
		cs-select = <0>;
		status = "ok";

		m25p80@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0>;
			compatible = "n25q128a11";
			linux,modalias = "m25p80", "n25q128a11";
			spi-max-frequency = <50000000>;

			partitions {
				compatible = "fixed-partitions";
				#address-cells = <1>;
				#size-cells = <1>;

				partition@0 {
					label = "0:sbl1";
					reg = <0x0 0x80000>;
					read-only;
				};

				partition@1 {
					label = "0:mibib";
					reg = <0x80000 0x10000>;
					read-only;
				};

				partition@2 {
					label = "0:bootconfig";
					reg = <0x100000 0x140000>;
					read-only;
				};

				partition@3 {
					label = "0:bootconfig1";
					reg = <0x140000 0x180000>;
					read-only;
				};

				partition@4 {
					label = "0:qsee";
					reg = <0x180000 0x280000>;
					read-only;
				};

				partition@5 {
					label = "0:qsee_1";
					reg = <0x280000 0x380000>;
					read-only;
				};

				partition@6 {
					label = "0:devcfg";
					reg = <0x380000 0x3c0000>;
					read-only;
				};

				partition@7 {
					label = "0:devcfg_1";
					reg = <0x3c0000 0x400000>;
					read-only;
				};

				partition@8 {
					label = "0:cdt";
					reg = <0x400000 0x440000>;
					read-only;
				};

				partition@9 {
					label = "0:cdt_1";
					reg = <0x440000 0x480000>;
					read-only;
				};

				partition@10 {
					label = "0:appsblenv";
					reg = <0x480000 0x500000>;
				};

				partition@11 {
					label = "0:appsbl";
					reg = <0x500000 0x640000>;
					read-only;
				};

				partition@12 {
					label = "0:appsbl_1";
					reg = <0x640000 0x780000>;
					read-only;
				};

				partition@13 {
					label = "0:art";
					reg = <0x780000 0x880000>;
					read-only;
				};

				partition@14 {
					label = "0:training";
					reg = <0x880000 0x90000>;
					read-only;
				};

				partition@15 {
					label = "rootfs";
					reg = <0x900000 0x4300000>;
				};
				
				partition@16 {
					label = "rootfs_1";
					reg = <0x4300000 0x7d00000>;
				};

				partition@17 {
					label = "0:test";
					reg = <0x7d00000 0x7d80000>;
					read-only;

				};

				partition@18 {
					label = "reset";
					reg = <0x7d80000 0x7e00000>;
					read-only;
				};
			};
		};
	};

	mdio0: mdio@88000 {
		status = "ok";

		ethernet-phy@0 {
			reg = <7>;
		};
	};

	mdio1: mdio@90000 {
		status = "ok";
		pinctrl-0 = <&mdio1_pins>;
		pinctrl-names = "default";
		phy-reset-gpio = <&tlmm 39 0>;
		ethernet-phy@0 {
			reg = <0>;
		};

		ethernet-phy@1 {
			reg = <1>;
		};

		ethernet-phy@2 {
			reg = <2>;
		};

		ethernet-phy@3 {
			reg = <3>;
		};
	};

	ess-instance {
		num_devices = <0x2>;
		ess-switch@0x39c00000 {
			compatible = "qcom,ess-switch-ipq50xx";
			device_id = <0>;
			switch_mac_mode = <0xf>; /* mac mode for uniphy instance*/
			cmnblk_clk = "internal_96MHz"; /* cmnblk clk*/
			qcom,port_phyinfo {
				port@0 {
					port_id = <1>;
					phy_address = <7>;
				};
				port@1 {
					port_id = <2>;
					forced-speed = <1000>;
					forced-duplex = <1>;
				};
			};
			led_source@0 {
				source = <0>;
				mode = "normal";
				speed = "all";
				blink_en = "enable";
				active = "high";
			};
		};
		ess-switch1@1 {
			compatible = "qcom,ess-switch-qca83xx";
			device_id = <1>;
			switch_access_mode = "mdio";
			mdio-bus = <&mdio1>;
			reset_gpio = <&tlmm 0x27 0>;
			switch_cpu_bmp = <0x40>;  /* cpu port bitmap */
			switch_lan_bmp = <0x1e>; /* lan port bitmap */
			switch_wan_bmp = <0x0>;  /* wan port bitmap */
			qca,ar8327-initvals = <
					0x00004 0x7600000   /* PAD0_MODE */
					0x00008 0x1000000   /* PAD5_MODE */
					0x0000c 0x80	/* PAD6_MODE */
					0x00010 0x2613a0    /* PORT6 FORCE MODE*/
					0x000e4 0xaa545     /* MAC_POWER_SEL */
					0x000e0 0xc74164de  /* SGMII_CTRL */
					0x0007c 0x4e	/* PORT0_STATUS */
					0x00094 0x4e	/* PORT6_STATUS */
			>;
			qcom,port_phyinfo {
				port@0 {
					port_id = <1>;
					phy_address = <0>;
				};
				port@1 {
					port_id = <2>;
					phy_address = <1>;
				};
				port@2 {
					port_id = <3>;
					phy_address = <2>;
				};
				port@3 {
					port_id = <4>;
					phy_address = <3>;
				};
			};
		};
	};

	dp1 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		clocks = <&gcc GCC_SNOC_GMAC0_AXI_CLK>;
		clock-names = "nss-snoc-gmac-axi-clk";
		qcom,id = <1>;
		reg = <0x39C00000 0x10000>;
		interrupts = <GIC_SPI 101 IRQ_TYPE_LEVEL_HIGH>;
		qcom,mactype = <2>;
		qcom,link-poll = <1>;
		qcom,phy-mdio-addr = <7>;
		mdio-bus = <&mdio0>;
		local-mac-address = [000000000000];
		phy-mode = "sgmii";
		qcom,rx-page-mode = <0>;
		label = "wan";
	};

	dp2 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		clocks = <&gcc GCC_SNOC_GMAC1_AXI_CLK>;
		clock-names = "nss-snoc-gmac-axi-clk";
		qcom,id = <2>;
		reg = <0x39D00000 0x10000>;
		interrupts = <GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>;
		qcom,mactype = <2>;
		local-mac-address = [000000000000];
		phy-mode = "sgmii";
		qcom,rx-page-mode = <0>;
		label = "lan";
	};

	nss-macsec1 {
		compatible = "qcom,nss-macsec";
		phy_addr = <0x1c>;
		mdiobus = <&mdio1>;
	};
};

&tlmm {
	pinctrl-0 = <&blsp0_uart_pins &phy_led_pins>;
	pinctrl-names = "default";
	
	blsp0_spi_pins: blsp0_spi_pins {
		mux {
			pins = "gpio10", "gpio11", "gpio12", "gpio13";
			function = "blsp0_spi";
			drive-strength = <2>;
			bias-disable;
		};
	};
	
	blsp0_uart_pins: blsp0_uart_pins {
		blsp0_uart_rx_tx {
			pins = "gpio20", "gpio21";
			function = "blsp0_uart0";
			bias-disable;
		};
	};

	button_pins: button_pins {

		reset_button {
			bias-pull-up;
			drive-strength = <0x08>;
			function = "gpio";
			pins = "gpio28";
		};
	};

	leds_pins: leds_pinmux {
		led_bt {
			bias-pull-up;
			drive-strength = <0x08>;
			function = "gpio";
			pins = "gpio27";
		};

		sysled_blue {
			bias-pull-up;
			drive-strength = <0x08>;
			function = "gpio";
			pins = "gpio33";
		};

		sysled_green {
			bias-pull-up;
			drive-strength = <0x08>;
			function = "gpio";
			pins = "gpio32";
		};

		sysled_red {
			bias-pull-up;
			drive-strength = <0x08>;
			function = "gpio";
			pins = "gpio31";
		};
	};

	mdio1_pins: mdio_pinmux {
		mux_0 {
			pins = "gpio36";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};
		mux_1 {
			pins = "gpio37";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	phy_led_pins: phy_led_pins {
		gephy_led_pin {
			pins = "gpio46";
			function = "led0";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	qspi_nand_pins: qspi_nand_pins {
		qspi_clock {
				pins = "gpio9";
				function = "qspi_clk";
				drive-strength = <8>;
				bias-disable;
			};
		qspi_cs {
				pins = "gpio8";
				function = "qspi_cs";
				drive-strength = <8>;
				bias-disable;
			};
		qspi_data_0 {
				pins = "gpio7";
				function = "qspi0";
				drive-strength = <8>;
				bias-disable;
			};
		qspi_data_1 {
				pins = "gpio6";
				function = "qspi1";
				drive-strength = <8>;
				bias-disable;
			};
		qspi_data_2 {
				pins = "gpio5";
				function = "qspi2";
				drive-strength = <8>;
				bias-disable;
			};
		qspi_data_3 {
				pins = "gpio4";
				function = "qspi3";
				drive-strength = <8>;
				bias-disable;
			};
	};
};

&soc {
	gpio_keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&button_pins>;
		pinctrl-names = "default";
		button@1 {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&tlmm 28 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			debounce-interval = <60>;
		};
	};
	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&leds_pins>;
		pinctrl-names = "default";
		status = "ok";

		led@27 {
			default-state = "off";
			gpios = <&tlmm 27 GPIO_ACTIVE_HIGH>;
			label = "led_bluetooth";
			color = "blue";
		};

		led_system: led@31 {
			default-state = "off";
			gpios = <&tlmm 31 GPIO_ACTIVE_HIGH>;
			label = "system";
			color = "red";
		};

		led@32 {
			default-state = "off";
			gpios = <&tlmm 32 GPIO_ACTIVE_HIGH>;
			label = "wlan2g";
			color = "green";
		};

		led@33 {
			default-state = "off";
			gpios = <&tlmm 33 GPIO_ACTIVE_HIGH>;
			label = "wlan5g";
			color = "blue";
		};
	};

};

&q6v5_wcss {
	compatible = "qcom,ipq5018-q6-mpd";
	#address-cells = <1>;
	#size-cells = <1>;
	ranges;
	firmware = "IPQ5018/q6_fw.mdt";
	reg = <0xcd00000 0x4040 0x4ab000 0x20 0x4a1000 0x10 0x1938000 0x08 0x193d204 0x04>;
	reg-names = "qdsp6", "rmb", "mpm", "tcsr-msip", "tcsr-q6-boot-trig";
	
	resets = <&gcc GCC_WCSSAON_RESET>, <&gcc GCC_WCSS_Q6_BCR>;
	reset-names = "wcss_aon_reset", "wcss_q6_reset";

	clocks = <&gcc GCC_Q6_AXIS_CLK>, <&gcc GCC_WCSS_ECAHB_CLK>, <&gcc GCC_Q6_AXIM_CLK>, <&gcc GCC_Q6_AXIM2_CLK>, <&gcc GCC_Q6_AHB_CLK>, <&gcc GCC_Q6_AHB_S_CLK>, <&gcc GCC_WCSS_AXI_S_CLK>;
	clock-names = "gcc_q6_axis_clk", "gcc_wcss_ecahb_clk", "gcc_q6_axim_clk", "gcc_q6_axim2_clk", "gcc_q6_ahb_clk", "gcc_q6_ahb_s_clk", "gcc_wcss_axi_s_clk";

	memory-region = <&q6_mem_regions>;

	qcom,rproc = <&q6v5_wcss>;
	qcom,bootargs_smem = <0x1fb>;
	boot-args = <0x1 0x4 0x2 0x0f 0x0 0x0>;
	status = "ok";

	q6_wcss_pd1: remoteproc_pd1 {
		compatible = "qcom,ipq5018-wcss-ahb-mpd";
		firmware = "IPQ5018/q6_fw.mdt";
		m3_firmware = "IPQ5018/m3_fw.mdt";
		interrupts-extended = <&wcss_smp2p_in 8 0>, <&wcss_smp2p_in 9 0>, <&wcss_smp2p_in 12 0>, <&wcss_smp2p_in 11 0>;
		interrupt-names = "fatal", "ready", "spawn-ack", "stop-ack";
		resets = <&gcc GCC_WCSSAON_RESET>, <&gcc GCC_WCSS_BCR>, <&gcc GCC_CE_BCR>;
		reset-names = "wcss_aon_reset", "wcss_reset", "ce_reset";
		clocks = <&gcc GCC_WCSS_AHB_S_CLK>, <&gcc GCC_WCSS_ACMT_CLK>, <&gcc GCC_WCSS_AXI_M_CLK>;
		clock-names = "gcc_wcss_ahb_s_clk", "gcc_wcss_acmt_clk", "gcc_wcss_axi_m_clk";
		qcom,halt-regs = <&tcsr_q6_block 0xa000 0xd000 0x0>;
		qcom,smem-states = <&wcss_smp2p_out 8>, <&wcss_smp2p_out 9>, <&wcss_smp2p_out 10>;
		qcom,smem-state-names = "shutdown", "stop", "spawn";
		memory-region = <&q6_ipq5018_data>, <&m3_dump>, <&q6_etr_region>, <&q6_caldb_region>;
		qca,int_radio;
		reg = <0x4ab000 0x20>;
		reg-names = "rmb";
	};

	q6_wcss_pd2: remoteproc_pd2 {
		compatible = "qcom,ipq5018-wcss-pcie-mpd";
		firmware = "IPQ5018/q6_fw.mdt";
		m3_firmware = "qcn6122/m3_fw.mdt";
		interrupts-extended = <&wcss_smp2p_in 16 0>,
					<&wcss_smp2p_in 17 0>,
					<&wcss_smp2p_in 20 0>,
					<&wcss_smp2p_in 19 0>;
		interrupt-names = "fatal",
					"ready",
					"spawn-ack",
					"stop-ack";

		qcom,smem-states = <&wcss_smp2p_out 16>,
					<&wcss_smp2p_out 17>,
					<&wcss_smp2p_out 18>;
		qcom,smem-state-names = "shutdown",
					"stop",
					"spawn";
		memory-region = <&q6_qcn6122_data1>, <&m3_dump_qcn6122_1>, <&q6_qcn6122_etr_1>, <&q6_qcn6122_caldb_1>;
	};
};

&wifi0 {
	/* IPQ5018 */
	qcom,bdf-addr = <0x4c400000 0x4c400000 0x4c400000 0x00 0x00>;
	qcom,board_id = <0x24>;
	qcom,bt-active-time = <0x00>;
	qcom,bt-priority-time = <0x00>;
	qcom,caldb-addr = <0x4d400000 0x4d400000 0x00 0x00 0x00>;
	qcom,caldb-size = <0x200000>;
	
	qcom,multipd_arch;
	qcom,rproc = <&q6_wcss_pd1>;
	qcom,userpd-subsys-name = "q6v5_wcss_userpd1";
	qcom,tgt-mem-mode = <1>;
	qcom,ath11k-fw-memory-mode = <1>;
	memory-region = <&q6_ipq5018_data>;
	mem-region = <&q6_ipq5018_data>;
	status = "ok";
};

&wifi1 {
	/* QCN6122 5G */
	qcom,bdf-addr = <0x4d600000 0x4d600000 0x4d300000 0x00 0x00>;
	qcom,board_id = <0x60>;
	qcom,caldb-addr = <0x4e800000 0x4e800000 0x00 0x00 0x00>;
	qcom,caldb-size = <0x500000>;

	qcom,multipd_arch;
	qcom,userpd-subsys-name = "q6v5_wcss_userpd2";
	qcom,rproc = <&q6_wcss_pd2>;
	qcom,tgt-mem-mode = <1>;
	qcom,ath11k-fw-memory-mode = <1>;
	memory-region = <&q6_qcn6122_data1>;
	mem-region = <&q6_qcn6122_data1>;
	status = "ok";
};

&soc {
	/* unused nodes */
	/delete-node/ wifi2@c000000;
	/delete-node/ wifi3@f00000;
	/delete-node/ wifi4@f00000;
	/delete-node/ wifi5@f00000;
};

&usb3 {
       status = "ok";
       device-power-gpio = <&tlmm 24 1>;
};

&dwc_0 {
       /delete-property/ #phy-cells;
       /delete-property/ phys;
       /delete-property/ phy-names;
};

&hs_m31phy_0 {
       status = "ok";
};

&eud {
	status = "ok";
};

&pcie_x1 {
	perst-gpio = <&tlmm 18 GPIO_ACTIVE_LOW>;
};

&pcie_x2 {
	perst-gpio = <&tlmm 15 GPIO_ACTIVE_LOW>;
};

&pcie_x1_rp {
	status = "disabled";

	mhi_0: qcom,mhi@0 {
		reg = <0 0 0 0 0 >;
	};
};

&pcie_x2_rp {
	status = "disabled";

	mhi_1: qcom,mhi@1 {
		reg = <0 0 0 0 0 >;

	};
};
